<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Cart{% endblock %}</title>
    {% load staticfiles %}
    <link href="{% static 'ecom/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'ecom/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'ecom/js/jquery.min.js' %}"></script>
    <style>
    .palel-primary
	{
		border-color: #bce8f1;
	}
	.panel-primary>.panel-heading
	{
		background:#bce8f1;

	}
	.panel-primary>.panel-body
	{
		background-color: #EDEDED;
	}


    </style>
</head>
<body>
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-1">
        <a href="{% url 'ecom:home' %}">Home</a>
    </div>
    {% if 'userdata' in request.session.keys %}
        <div class="col-md-1">
            <a href="{% url 'ecom:sign_up' %}">My account</a>
        </div>
        <div class="col-md-1">
            <a href="{% url 'ecom:logout' %}">Logout</a>
        </div>
    {% else %}
        <div class="col-md-1">
            <a href="{% url 'ecom:login' %}">Login</a>
        </div>
        <div class="col-md-1">
            <a href="{% url 'ecom:sign_up' %}">Sign up</a>
        </div>
    {% endif %}
</div>
{% block content %}
{% endblock %}