{% extends "master/layouts/header.html" %}
{% block title %} List Category {% endblock %}

{% block content %}
<h3>Product list</h3>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Gallary</th>
            <th>Action</th>
        </tr>
        {% for prod in prods %}
        <tr>
            <td>{{ prod.name }}</td>
            <td>{{ prod.description }}</td>
            <td>{{ prod.cat }}</td>
            <td>{{ prod.price }}</td>
            <td><a href="{% url 'master:gallary' prod.id %}">Upload images</a></td>
            <td>
                <a href="{% url 'master:prod_edit' prod.id %}">Edit</a> |
                <a href="{% url 'master:prod_del' prod.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}

    </table>
</div>
</body>
</html>
{% endblock %}